*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    display: grid;
    grid-template-columns: 1fr 5fr;
}



#menu{
    /* for debugging */
    border: solid 1px black;
    padding-left: 2em;
}

#view{
    /* for debugging */
    border: solid 1px black;
}

#projects-header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: .5em;
    margin-left: -1.2em ;
    padding: .5em;
    gap: 1em;
    
 
}
#new-project>img{
    height: .8em;
}
#new-project{
    display: flex;
}
.edit-icon{
    height: 10px;
    width: 10px;
    margin-left: auto;
}
.project-icon{
    height: 15px;
    width: 20px;
}
li{
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: .5em;
    margin-bottom: .5em;
    margin-top: .5em;
    gap: .5em
}
